.gradle
build/
target/
!**/target/
**/target/
!**/src/main/**/build/
!**/src/test/**/build/
*.releaseBackup
release.properties
pom.xml.releaseBackup
!**/release-pom.xml

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/target/
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/class-use/Primary.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/class-use/RemoteLifeCycle.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/class-use/RemoteLifeCycle.LifeCycleHandler.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/class-use/RemoteSubProperty.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/class-use/Retryable.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/class-use/Retryable.RetryableLifeCycle.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/Primary.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/RemoteLifeCycle.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/RemoteLifeCycle.LifeCycleHandler.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/RemoteSubProperty.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/Retryable.html
/remote-core/target/apidocs/io/github/microapplet/remote/annotation/Retryable.RetryableLifeCycle.html
/remote-core/target/apidocs/io/github/microapplet/remote/client/class-use/RemoteClient.html
/remote-core/target/apidocs/io/github/microapplet/remote/client/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/client/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/client/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/client/RemoteClient.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/class-use/RemoteLocalEnvironment.Arch.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/class-use/RemoteLocalEnvironment.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/class-use/RemoteLocalEnvironment.RemoteLocalEnv.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/RemoteLocalEnvironment.Arch.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/RemoteLocalEnvironment.html
/remote-core/target/apidocs/io/github/microapplet/remote/config/RemoteLocalEnvironment.RemoteLocalEnv.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/GenericKey.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/RemoteCallback.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/RemoteGenericMap.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/RemoteHandlerContext.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/RemoteLifeCycleHandlerFactory.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/RemoteMethodConfig.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/RemoteMethodParameter.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/RemoteReqContext.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/class-use/RemoteResContext.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/GenericKey.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/RemoteCallback.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/RemoteGenericMap.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/RemoteHandlerContext.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/RemoteLifeCycleHandlerFactory.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/RemoteMethodConfig.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/RemoteMethodParameter.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/RemoteReqContext.html
/remote-core/target/apidocs/io/github/microapplet/remote/context/RemoteResContext.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/After.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/Before.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/Finally.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/Invoke.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/On.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/OnError.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/OnFail.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/OnRetry.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/OnSuccess.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/RetryWhen.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/class-use/SuccessWhen.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/After.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/Before.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/Finally.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/Invoke.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/On.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/OnError.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/OnFail.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/OnRetry.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/OnSuccess.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/RetryWhen.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/callback/SuccessWhen.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/class-use/CallBack.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/class-use/LifeCycle.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/class-use/LogFunction.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/CallBack.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/LifeCycle.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/LogFunction.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/lifecycle/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/loader/class-use/RemoteClassLoader.html
/remote-core/target/apidocs/io/github/microapplet/remote/loader/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/loader/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/loader/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/loader/RemoteClassLoader.html
/remote-core/target/apidocs/io/github/microapplet/remote/proxy/class-use/RemoteMethodInvoker.html
/remote-core/target/apidocs/io/github/microapplet/remote/proxy/class-use/RemoteProxy.html
/remote-core/target/apidocs/io/github/microapplet/remote/proxy/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/proxy/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/proxy/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/proxy/RemoteMethodInvoker.html
/remote-core/target/apidocs/io/github/microapplet/remote/proxy/RemoteProxy.html
/remote-core/target/apidocs/io/github/microapplet/remote/thread/class-use/NamedThreadFactory.html
/remote-core/target/apidocs/io/github/microapplet/remote/thread/NamedThreadFactory.html
/remote-core/target/apidocs/io/github/microapplet/remote/thread/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/thread/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/thread/package-use.html
/remote-core/target/apidocs/io/github/microapplet/remote/package-summary.html
/remote-core/target/apidocs/io/github/microapplet/remote/package-tree.html
/remote-core/target/apidocs/io/github/microapplet/remote/package-use.html
/remote-core/target/apidocs/legal/ADDITIONAL_LICENSE_INFO
/remote-core/target/apidocs/legal/ASSEMBLY_EXCEPTION
/remote-core/target/apidocs/legal/jquery.md
/remote-core/target/apidocs/legal/jqueryUI.md
/remote-core/target/apidocs/legal/LICENSE
/remote-core/target/apidocs/resources/glass.png
/remote-core/target/apidocs/resources/x.png
/remote-core/target/apidocs/script-dir/jquery-3.6.1.min.js
/remote-core/target/apidocs/script-dir/jquery-ui.min.css
/remote-core/target/apidocs/script-dir/jquery-ui.min.js
/remote-core/target/apidocs/allclasses-index.html
/remote-core/target/apidocs/allpackages-index.html
/remote-core/target/apidocs/copy.svg
/remote-core/target/apidocs/element-list
/remote-core/target/apidocs/help-doc.html
/remote-core/target/apidocs/index.html
/remote-core/target/apidocs/index-all.html
/remote-core/target/apidocs/link.svg
/remote-core/target/apidocs/member-search-index.js
/remote-core/target/apidocs/module-search-index.js
/remote-core/target/apidocs/overview-summary.html
/remote-core/target/apidocs/overview-tree.html
/remote-core/target/apidocs/package-search-index.js
/remote-core/target/apidocs/script.js
/remote-core/target/apidocs/search.html
/remote-core/target/apidocs/search.js
/remote-core/target/apidocs/search-page.js
/remote-core/target/apidocs/stylesheet.css
/remote-core/target/apidocs/tag-search-index.js
/remote-core/target/apidocs/type-search-index.js
/remote-core/target/classes/io/github/microapplet/remote/annotation/Primary.class
/remote-core/target/classes/io/github/microapplet/remote/annotation/RemoteLifeCycle$LifeCycleHandler.class
/remote-core/target/classes/io/github/microapplet/remote/annotation/RemoteLifeCycle.class
/remote-core/target/classes/io/github/microapplet/remote/annotation/RemoteSubProperty.class
/remote-core/target/classes/io/github/microapplet/remote/annotation/Retryable$RetryableLifeCycle.class
/remote-core/target/classes/io/github/microapplet/remote/annotation/Retryable.class
/remote-core/target/classes/io/github/microapplet/remote/client/RemoteClient.class
/remote-core/target/classes/io/github/microapplet/remote/config/RemoteLocalEnvironment$Arch.class
/remote-core/target/classes/io/github/microapplet/remote/config/RemoteLocalEnvironment$RemoteLocalEnv.class
/remote-core/target/classes/io/github/microapplet/remote/config/RemoteLocalEnvironment.class
/remote-core/target/classes/io/github/microapplet/remote/context/GenericKey.class
/remote-core/target/classes/io/github/microapplet/remote/context/RemoteCallback.class
/remote-core/target/classes/io/github/microapplet/remote/context/RemoteGenericMap.class
/remote-core/target/classes/io/github/microapplet/remote/context/RemoteHandlerContext.class
/remote-core/target/classes/io/github/microapplet/remote/context/RemoteLifeCycleHandlerFactory.class
/remote-core/target/classes/io/github/microapplet/remote/context/RemoteMethodConfig.class
/remote-core/target/classes/io/github/microapplet/remote/context/RemoteMethodParameter.class
/remote-core/target/classes/io/github/microapplet/remote/context/RemoteReqContext.class
/remote-core/target/classes/io/github/microapplet/remote/context/RemoteResContext.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/After.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/Before.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/Finally.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/Invoke.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/On.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/OnError.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/OnFail.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/OnRetry.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/OnSuccess.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/RetryWhen.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/callback/SuccessWhen.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/CallBack.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/LifeCycle.class
/remote-core/target/classes/io/github/microapplet/remote/lifecycle/LogFunction.class
/remote-core/target/classes/io/github/microapplet/remote/loader/RemoteClassLoader.class
/remote-core/target/classes/io/github/microapplet/remote/proxy/RemoteMethodInvoker.class
/remote-core/target/classes/io/github/microapplet/remote/proxy/RemoteProxy.class
/remote-core/target/classes/io/github/microapplet/remote/thread/NamedThreadFactory$1.class
/remote-core/target/classes/io/github/microapplet/remote/thread/NamedThreadFactory.class
/remote-core/target/classes/io/github/microapplet/remote/package-info.class
/remote-core/target/classes/META-INF/remote.loadRemoteClass
/remote-core/target/classes/logback.xml
/remote-core/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/remote-core/target/maven-archiver/pom.properties
/remote-core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/remote-core/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/remote-core/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/remote-core/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/remote-core/target/test-classes/io/github/microapplet/remote/lifecycle/CallBackTest$CallBackInterface.class
/remote-core/target/test-classes/io/github/microapplet/remote/lifecycle/CallBackTest.class
/remote-core/target/test-classes/io/github/microapplet/remote/proxy/RemoteProxyTest$RemoteInterface.class
/remote-core/target/test-classes/io/github/microapplet/remote/proxy/RemoteProxyTest$RemoteType.class
/remote-core/target/test-classes/io/github/microapplet/remote/proxy/RemoteProxyTest$RemoteTypeHandler.class
/remote-core/target/test-classes/io/github/microapplet/remote/proxy/RemoteProxyTest.class
/remote-core/target/maven-javadoc-plugin-stale-data.txt
/remote-core/target/remote-core-1.0.0-SNAPSHOT.jar
/remote-core/target/remote-core-1.0.0-SNAPSHOT-javadoc.jar
/remote-core/target/remote-core-1.0.0-SNAPSHOT-sources.jar
/.metadata/
